@use 'sass:map';
@use '../libs/mixins';

html {
		/* Approximately 1.3rem=16px *** 1.7vw=16px *** 1rem = 16px */
        @include mixins.fonts($weight: 300, $minSize: 1rem, $prefValue: 1.7vw, $maxSize: 1rem);
		// font-family: map-get($map: vars.$font, $key: family); //old way to call the library
		font-family: map.get(mixins.$font, family);
	}

	h1 {
        /* Approximately 2.6=41.6px *** 2.3vw=41.5px-32.1px *** 2rem=32px */
        @include mixins.fonts($weight: 600, $minSize: 2rem, $prefValue: 2.3vw, $maxSize: 2.6rem);
		// font-family: _font(family);
		color: rgb(116, 181, 197);
	}

	h2 {
		/* Approximately 1.3rem=25.6px *** 1.7vw=25.9px-20.9px *** 1rem = 20.8px */
        @include mixins.fonts($weight: 600, $minSize: 1.3rem, $prefValue: 1.7vw, $maxSize: 1.6rem);
		color: rgb(7, 24, 73);
	}

	h3, table thead, caption, fieldset {
		/* Approximately 1.15rem=18.4px *** 1.7vw=18.3px-17.7px *** 1.1rem = 17.6px */
        @include mixins.fonts($weight: 600, $minSize: 1.1rem, $prefValue: 1.7vw, $maxSize: 1.15rem);
	}

	h4, td, ul {
		/* Approximately 1rem = 16px *** 1.7vw=16px *** 1rem = 16px */
        @include mixins.fonts($weight: 500, $minSize: 1rem, $prefValue: 1.7vw, $maxSize: 1rem);
	}

	h5 {
		/* Approximately .9rem=14.4px *** 1.7vw=16px *** .9rem=14.4px */
        @include mixins.fonts($weight: 500, $minSize: .9rem, $prefValue: 1.7vw, $maxSize: .9rem);
	}

	h6 {
		/* Approximately .9rem=14.4px *** 1.7vw=16px *** .9rem=14.4px */
        @include mixins.fonts($weight: 300, $minSize: 1rem, $prefValue: 1.7vw, $maxSize: 1rem);
	}