@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900;1000;1200&family=Montserrat:ital@0;1&display=swap");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/*
	Variable defined as map, to set various configurations regarding the same item.
*/
html {
  /* Approximately 1.3rem=16px *** 1.7vw=16px *** 1rem = 16px */
  font-size: clamp(1rem, 1.7vw, 1rem);
  font-weight: 300;
  font-family: "Montserrat", Helvetica, sans-serif;
}

h1 {
  /* Approximately 2.6=41.6px *** 2.3vw=41.5px-32.1px *** 2rem=32px */
  font-size: clamp(2rem, 2.3vw, 2.6rem);
  font-weight: 600;
  color: rgb(116, 181, 197);
}

h2 {
  /* Approximately 1.3rem=25.6px *** 1.7vw=25.9px-20.9px *** 1rem = 20.8px */
  font-size: clamp(1.3rem, 1.7vw, 1.6rem);
  font-weight: 600;
  color: rgb(7, 24, 73);
}

h3, table thead, caption, fieldset {
  /* Approximately 1.15rem=18.4px *** 1.7vw=18.3px-17.7px *** 1.1rem = 17.6px */
  font-size: clamp(1.1rem, 1.7vw, 1.15rem);
  font-weight: 600;
}

h4, td, ul {
  /* Approximately 1rem = 16px *** 1.7vw=16px *** 1rem = 16px */
  font-size: clamp(1rem, 1.7vw, 1rem);
  font-weight: 500;
}

h5 {
  /* Approximately .9rem=14.4px *** 1.7vw=16px *** .9rem=14.4px */
  font-size: clamp(0.9rem, 1.7vw, 0.9rem);
  font-weight: 500;
}

h6 {
  /* Approximately .9rem=14.4px *** 1.7vw=16px *** .9rem=14.4px */
  font-size: clamp(1rem, 1.7vw, 1rem);
  font-weight: 300;
}

a {
  color: #107979;
  transition: color 0.8s, text-shadow 1.2s;
}

a:hover { /* links section */
  color: #023d3d;
  text-shadow: 1px 2px 3px #05213b;
}

a:link {
  color: #004d50;
}

:visited {
  color: #0e4170;
}

.input {
  /* needs to be relative so the :focus span is positioned correctly */
  position: relative;
  /* the border gradient */
  -o-border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
     border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  /* the width of the input border */
  padding: 3px;
  /* we want inline fields by default */
  display: inline-block;
  /* we want rounded corners no matter the size of the field */
  border-radius: 9999em;
  /* style of the actual input field */
  /* we don't animate box-shadow directly as that can't be done on the GPU, only animate opacity and transform for high performance animations. */
}
.input *:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 0.325em;
  z-index: 1; /* needs to be above the :focus span */
  /* summon fancy shadow styles when focussed */
}
.input *:not(span):focus + span {
  opacity: 1;
  transform: scale(1);
}
.input span {
  transform: scale(0.993, 0.94); /* scale it down just a little bit */
  transition: transform 0.5s, opacity 0.25s;
  opacity: 0; /* is hidden by default */
  position: absolute;
  z-index: 0; /* needs to be below the field (would block input otherwise) */
  margin: 4px; /* a bit bigger than .input padding, this prevents background color pixels shining through */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none; /* this allows the user to click through this element, as the shadow is rather wide it might overlap with other fields and we don't want to block those. */
  /* fancy shadow styles */
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd, -3px 3px 30px #1c4c66;
}

.input > input, select {
  font-family: inherit;
  line-height: inherit;
  color: #2e3750;
  min-width: 12em;
  /* the border gradient */
  -o-border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
     border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
}

::-moz-placeholder {
  color: #5a7086;
}

::placeholder {
  color: #5a7086;
}

button {
  position: relative;
  padding: 8px 15px;
  font: 15px "Orbitron";
  text-transform: uppercase;
  margin: 15px 20px;
  color: rgb(250, 228, 199);
  text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.25);
  background-image: radial-gradient(100% 75% at 50% 100%, #307375 0%, #008dc4 100%);
  border: none;
  border-radius: 15px;
  box-shadow: inset 0 1px 10px 0 rgb(49, 65, 90), inset 0 -3px 0 0 rgb(98, 197, 254), inset 0 20px 0 0 rgba(6, 8, 15, 0.4), inset 0 20px 5px 0 rgb(65, 69, 107), 0 0 0 1px #021d33, 0 5px 0 0 #444, 0 0 20px 0 rgba(98, 236, 254, 0.4), 0 40px 20px -30px rgba(98, 254, 254, 0.2);
}
button:before { /* Main shadow */
  content: "";
  position: absolute;
  z-index: -2;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(#056a83, #056a83);
  border-radius: 100px;
  box-shadow: 0 2px 5px #000, inset 0 10px 0 #056a83;
}
button:after { /* Line shadow */
  content: "";
  position: absolute;
  z-index: -1;
  background: #104386;
  box-shadow: 0 1px 0 #444;
  height: 10px;
  left: -10px;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
button:hover {
  cursor: pointer;
  background-image: radial-gradient(100% 75% at 50% 100%, #40e2f7 0%, #0041a2 100%);
  color: #f9e3bf;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 10px 0 rgb(119, 155, 212);
}
button:focus, button:active {
  outline: none;
  color: #bff9f4;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  background-image: radial-gradient(100% 75% at 50% 100%, #25c5f5 0%, #000d85 100%);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4), inset 0 0 10px rgb(0, 42, 133), inset 0 3px 15px 0 rgb(0, 96, 174), inset 0 40px 0 0 rgba(98, 210, 254, 0.3), inset 0 20px 20px 0 rgba(69, 236, 248, 0.75), 0 0 0 2px #000, 0 4px 0 0 #444; /* Button shadow when it is active */
}

.waybill form {
  width: 60%;
  color: rgb(189, 186, 186);
}

.waybill fieldset {
  border-width: 2px;
  border-style: groove;
  padding: 10px;
  color: rgb(189, 186, 186);
  border-color: threedface;
}

.waybill label,
input, select {
  width: 30%;
  display: inline-block;
  padding: 10px 0;
  height: 35px;
  font-size: 20px;
}

@media (min-width: 1100px) {
  .input-waybill > input, select {
    color: #2e3750;
    min-width: 17em;
    /* the border gradient */
    -o-border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
       border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  }
}
@media (max-width: 1099px) {
  .input-waybill > input, select {
    color: #2e3750;
    min-width: 15em;
    font-size: 18px;
    /* the border gradient */
    -o-border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
       border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  }
}
html {
  background-size: cover;
  background: linear-gradient(to left top, rgb(51, 50, 61), rgba(30, 28, 43, 0.738));
}

body {
  width: 100%; /* Assure the page reaches all screen size */
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
body ol, body ul {
  list-style: disc;
}

header {
  padding: 20px 40px;
  /* solid dashed dotted
     Border is conformed for border-width, border-style,  border-color or the following shortcut*/
  border: 0px inset;
  border-style: inset;
  background: linear-gradient(rgb(9, 30, 63), rgba(31, 30, 44, 0.938));
  display: flex;
  justify-content: space-around; /* Extend items through all the screen */
  align-items: center;
  box-sizing: border-box; /* Set the size to show all items without oversize the screen */
  flex-wrap: wrap;
  color: #fff;
}

header > span {
  width: 15%;
}

header > img {
  width: 350px;
}

.fixed {
  position: fixed;
  z-index: 2;
  width: 100%;
}

/* menu */
#menu {
  align-items: center;
  display: block;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 20px 0px;
}

/* menu items */
#menu ul li {
  background-color: #203d6d;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

/* menu liks */
#menu ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* menu items */
#menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

/* effect when mouse is over menu items */
#menu ul li:hover {
  background: #6c7583;
}

/* dropdown menu */
#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: none;
  padding: 0;
}

/* dropdown menu items */
#menu ul ul li {
  float: none;
  width: 250px;
}

/* enlaces de los items del menu desplegable */
#menu ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

/* items del menu desplegable al pasar el ratón */
#menu ul li:hover > ul {
  display: block;
}

.main-section {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "banner" "waybill" "status" "waybill-list" "waybill-history" "footer";
}

.main-section > div {
  width: 90%;
  min-height: 80vh;
  background: linear-gradient(rgba(61, 69, 85, 0.938), rgba(31, 30, 44, 0.938), rgba(78, 72, 139, 0.938));
  justify-self: center;
  box-sizing: border-box;
  box-shadow: 0px 5px 19px 4px rgba(235, 205, 205, 0.726);
  border-radius: 30px;
}

status {
  grid-area: status;
  padding: 30px 0;
}

.status table {
  background: linear-gradient(to left top, #052029, #91c2d3);
  padding: 2px 2px;
  border: 2px inset rgba(122, 177, 214, 0.862745098);
  height: 40px;
  width: 60%;
  text-align: center;
  margin: auto;
  color: #023a4d;
}

.status table thead, caption {
  height: 40px;
  color: #023a4d;
}

.status caption {
  color: #1beabd;
}

.status tbody {
  background: linear-gradient(to left top, #07607e, #91c2d3);
  padding: 150px;
}

.status td {
  padding: 15px;
}

.waybill {
  grid-area: waybill;
  padding: 30px 0;
  text-align: left;
  justify-items: center;
}

.waybill-list {
  grid-area: waybill-list;
  display: grid;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 68.95rem) {
  .waybill-list table {
    background: linear-gradient(to left top, #052029, #91c2d3);
    padding: 2px 2px;
    border: 2px inset rgba(122, 177, 214, 0.862745098);
    width: 80%;
    text-align: center;
    margin: auto;
    height: 500px;
    color: #023a4d;
    overflow: auto;
    display: inline-block;
  }
}
@media screen and (max-width: 69rem) {
  .waybill-list table {
    background: linear-gradient(to left top, #052029, #91c2d3);
    padding: 2px 2px;
    border: 2px inset rgba(122, 177, 214, 0.862745098);
    height: 40px;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 500px;
    color: #023a4d;
    /* Set scroll by setting specific height/width */
    overflow: auto;
    display: inline-block;
  }
}
.waybill-list table thead, .waybill-list table caption {
  height: 40px;
  color: #023a4d;
}
@media screen and (min-width: 68.95rem) {
  .waybill-list table button {
    position: relative;
    padding: 4px 7px;
    margin: 8px 2px;
  }
}
@media screen and (max-width: 69rem) {
  .waybill-list table button {
    position: relative;
    padding: 4px 7px;
    font-size: 12px;
    margin: 8px 2px;
  }
}

.waybill-list h2 {
  color: #1beabd;
  padding: 10px;
  text-align: left;
}

.waybill-list tbody {
  background: linear-gradient(to left top, #07607e, #91c2d3);
  padding: 150px;
}

.waybill-list td {
  padding: 5px;
}
@media screen and (min-width: 56rem) {
  .waybill-list td {
    padding: 10px;
  }
}

.waybill-list div {
  display: inline-block;
}

.waybill-list fieldset {
  text-align: left;
  color: #318caf;
  width: 50%;
  border: none;
  display: contents;
}

.waybill-history {
  grid-area: waybill-history;
  display: grid;
  margin-bottom: 50px;
  margin-top: 10px;
}
@media screen and (min-width: 68.95rem) {
  .waybill-history table {
    background: linear-gradient(to left top, #052029, #91c2d3);
    padding: 2px 2px;
    border: 2px inset rgba(122, 177, 214, 0.862745098);
    width: 80%;
    text-align: justify;
    margin: auto;
    color: #023a4d;
    overflow: auto;
  }
}
@media screen and (max-width: 69rem) {
  .waybill-history table {
    background: linear-gradient(to left top, #052029, #91c2d3);
    padding: 2px 2px;
    border: 2px inset rgba(122, 177, 214, 0.862745098);
    height: 40px;
    text-align: justify;
    margin: auto;
    width: 80%;
    color: #023a4d;
    /* Set all table size for the columns */
    display: inline-table;
  }
}
.waybill-history table thead, .waybill-history table caption {
  height: 40px;
  color: #023a4d;
}
@media screen and (min-width: 56rem) {
  .waybill-history table td {
    padding: 10px;
  }
}

.waybill-history table caption {
  color: #158cb4;
  text-align: justify;
}

.waybill-history tbody {
  background: linear-gradient(to left top, #07607e, #91c2d3);
  padding: 50px;
}

.fixed-col {
  width: 150px;
}

.banner {
  width: 100%;
  box-sizing: border-box;
}

.slides {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover; /* Get full image size but considering container size */
  -o-object-position: 80% 30%;
     object-position: 80% 30%; /* Move img x-y position */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.banner h1 {
  position: absolute;
  margin: 20px 30px;
  color: rgb(7, 24, 73);
  text-shadow: 2px 4px 2px rgba(73, 70, 70, 0.75);
}

.banner h2 {
  position: absolute;
  margin: 80px 30px;
  text-shadow: 2px 4px 2px rgba(73, 70, 70, 0.75);
}

/* Footer section */
footer {
  grid-area: footer;
  width: 100%;
  padding-top: 50px;
  background-color: #090f27;
}

footer section {
  width: 80%;
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  margin: 0 auto;
}

footer img {
  width: 60%;
}

footer article {
  text-align: end;
}

.menu-footer {
  text-align: start;
}
.menu-footer ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.menu-footer li::marker {
  color: rgb(231, 31, 31);
  font-size: 1.5em;
  text-align: start;
}/*# sourceMappingURL=main.css.map */