html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: -moz-linear-gradient(to left top,  rgb(59, 47, 223), rgba(11, 5, 59, 0.938));
    background: -ms-linear-gradient(to left top,  rgb(59, 47, 223), rgba(11, 5, 59, 0.938));
    background: -o-linear-gradient(to left top,  rgb(59, 47, 223), rgba(11, 5, 59, 0.938));
    background: linear-gradient(to left top,  rgb(51, 50, 61), rgba(30, 28, 43, 0.738));
    
  }
  body {
    width: 100%; /* Assure the page reaches all screen size */
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    ol, ul {
      list-style: disc;
  }
}